/* reestableciendo valores CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */
.navbar-nav li {
    padding: 1rem;
}

header nav {
    background-color: #f3ecff;
}

.nav-link {
    color: #5d4c7e;
}

.nav-link:hover {
    color: #6c757d;
}

/* footer */
/* footer */
footer{
    background-color: #f3ecff;
}

footer div section a i{
    font-size: 1.5rem;
    color: #5d4c7e;
}

footer .text-center{
    background-color: #5d4c7e;
    text-transform: uppercase;
}

/* contenido index */
@media screen and (min-width: 0px){
    .contenido__index section{
        display: grid;
        grid-template-areas:
            "titulo__index"
            "imagen__index"
            "descripcion__index"
            "boton__index";
        grid-template-rows: repeat(4, auto);
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .contenido__index section h1{
        grid-area: titulo__index;
        text-align: center;
        font-size: 4rem;
        color: #5d4c7e;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        padding: 2rem 2rem 0 2rem;
        width: 100%;
    }
    .contenido__index section img{
        grid-area: imagen__index;
        width: 100%;
        padding: 1rem;
    }
    .contenido__index section p{
        grid-area: descripcion__index;
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        text-align: justify;
        padding: 0 1rem 0 1rem;
    }
    .contenido__index section button{
        grid-area: boton__index;
        background-color: #f3ecff;
        border: 0;
        border-radius: 2rem;
        padding: 0 1.2rem 0.2rem 1.2rem;
        margin-bottom: 2rem;
    }
    .contenido__index section button a{
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: #5d4c7e;
        font-size: 1rem;
    }
    .contenido__index section button a:hover{
        color: #6c757d;
        transition: 1s;
    }
}

@media screen and (min-width: 600px){
    .contenido__index section button{
        height: 2rem;
        border-radius: 2rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1024px){
    .contenido__index section{
        display: grid;
        grid-template-areas:
            "titulo__index imagen__index"
            "descripcion__index imagen__index"
            "boton__index imagen__index";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: repeat(2, 1fr);
    }
    .contenido__index section h1{
        grid-area: titulo__index;
        padding: 3rem 2rem 0 2rem;
    }
    .contenido__index section p{
        grid-area: descripcion__index;
        padding: 0 3rem 0 3rem;
    }
    .contenido__index section button{
        grid-area: boton__index;
    }
    .contenido__index section img{
        grid-area: imagen__index;
        padding: 3rem 3rem 3rem 1rem;
    }
}

@media screen and (min-width: 1200px){
    .contenido__index section p{
        font-size: 1.5rem;
    }
}

